body {
  background-color: rgb(61, 28, 93);
  color: rgb(150, 93, 208);
  text-align: center;
  font-style: italic;
  margin: 10rem;
}
body h1{
  font-size: 100px;
  font-weight: bolder;
}
.btn {
  background-color: rgb(173, 112, 233);
  color: white;
}